# set default shell with this command
# chsh -s $(which fish)

# set default-command
# set -g default-command /usr/local/bin/zsh

alias c='clear'
alias e='exit'
alias p='pwd'
alias ls='ls --color=tty'
alias r='. ranger'
alias sr='sudo ranger'
alias v='vim'
alias nv='nvim'
alias vf='vifm .'
alias spam='cd ~/.local/share/nvim/swap'
alias folder='nautilus'
alias light='xrandr --output eDP-1 --brightness'  # control brightness 0 - 1
alias ccleaner='sudo apt autoremove && sudo apt autoclean && sudo apt clean'

alias PS='PS1="> "'

alias qtox='flatpak run io.github.qtox.qTox'
alias obs='flatpak run com.obsproject.Studio'
